<app-header></app-header>
<div class="container" style="width: 35rem; text-align: center;">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="card my-5 ">
                <div class="card-body ">
                    <h5 class="card-title" >Connexion</h5>
                    <form action="">
                        <input class="form-control" placeholder="Adresse mail">
                        <br>
                        <input class="form-control" placeholder="Password">
                        <br>
                        <button 
                        type="submit"
                        class="btn btn-lg btn-dark btn-block text-uppercase"
                        (click)="onClickSignIn()"> Me connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
